.profileHeader_container p{
  margin-bottom: 0;
  text-align: center;

}

.profileHeader_logo {
  padding: 0;
  max-width: 25%!important;
}

.profileHeader_logo, .profileHeader_title{
  padding: 20px 0px;
  color: white;
  position: absolute;
}

.profileHeader_title{
}

.profileHeader_logo{
  background: linear-gradient(to right, #457b9d 20%, #274685 80%);
}
.profileHeader_title{
  background: linear-gradient(to left, #457b9d 0%, #274685 20%);
}

.close {
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 4%;
  padding: 0px 22px;
  transform: translate(0%, -50%);
}

.close:hover {color: #000;}

