.profileHeader_container p{
  margin-bottom: 0;
  text-align: center;

}

.profileHeader_logo, .profileHeader_title{
  padding: 20px 0px;
}


.profileHeader_logo{
  
  background: linear-gradient(to left, #ffb703cc, #ffd166cc);
}


.profileHeader_title{
  background-color: #ffb703cc;
}

.close {
  cursor: pointer;
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 4%;
  padding: 0px 22px;
  transform: translate(0%, -50%);
}

.close:hover {color: #000;}