.registerModal_userDescription{
  font-weight: lighter;
  margin-bottom: 0;
  text-align: center;
  font-size: 18px;
}

.registerModal_userTitle{
  color: #fff;
}

.createAccountButton{
  margin-top: 35px;
}
