.footerNavbarIcons_container{
  color: #fff;
  background-color: #7A7A7A;
  padding: 0;
}

.footerNavbarIcons_container div{
  font-size: 15px;
  width: 100px;
  text-align: center;
}

.footerNavbarIcons_container a p{
  margin-bottom: 0;
}

.footerNavbarIcons_container i {
  font-size: 18px;
  padding-top: 12px;
  margin-top: -5px;
  color: #000;
}