.footerNavbarIcons_container{
  color: #fff;
  background: linear-gradient(-45deg, #274685, #457b9d);
  padding: 0 30px;
}

.footerNavbarIcons_container div{
  font-size: 15px;
  width: 40px;
  text-align: center;
}

.footerNavbarIcons_container a p{
  margin-bottom: 0;
}

.footerNavbarIcons_container i {
  font-size: 18px;
  padding-top: 12px;
  margin-top: -5px;
  color: #000;
}