.addTrip_container{
  margin: 8px 0;
}

.addTrip_container button{
  background-color: orange;
  padding: 10px 20px!important;
}

.driverRides_button{
  margin-right: 14px;
  font-size: 14px;
}

.statusButton{
  color: #fff!important;
  background-color: #007bff!important; 
  border-color: #007bff!important;
}

.listButton{
  min-width: 120px;
  padding: 8px 0px!important;
}

.searchbutton{
  padding: 7.5px 30px!important; 
  background-color: #ffc107;
  color: #000;
}

.searchbutton:hover{
  background-color: #ffbf00;
}