.landingModal_header{
  background-color: #2d71a1!important;
}

.landingModal_footer{
  justify-content: center;
  background-color: #2d71a1!important;
}

.landingModal_footer p {
  margin-bottom: 0;
}

.formCTAButton{
  margin-top: 30px;
}