.landingModal_header{
  background: linear-gradient(-45deg, #0077b6, #457b9d);
}

.landingModal_footer{
  justify-content: center;
  background: linear-gradient(-45deg, #0077b6 , #457b9d);
}

.landingModal_footer p {
  margin-bottom: 0;
}

.formCTAButton{
  margin-top: 30px;
}